<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMDrawerController_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA22B8F31C3AB05F00D69597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA22B90C1C3AB05F00D69597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA22B9171C3AB05F00D69597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
